{% extends 'DMSLauncherBundle:Default:base.html.twig' %}

{% block launcher_content %}

    <div class="done">
        <p class="thankyou">Thank you!</p>
        <p>The more friends you invite the faster your chances of getting in are, share!</p>
    </div>

	<div class="social clearfix">
		<ul>
			<li>
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this new website!" data-url="{{share.url}}" data-count="vertical" data-via="{{share.twitter}}" data-related="{{share.twitter}}">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</li>
			<li>
				<!-- Place this tag where you want the +1 button to render -->
				<div class="g-plusone" data-size="tall" data-href="{{share.url}}"></div>

				<!-- Place this render call where appropriate -->
				<script type="text/javascript">
				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
			</li>
			<li>
				<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
				<script type="IN/Share" data-url="{{share.url}}" data-counter="top"></script>
			</li>
            <li>
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

                <div class="fb-like" data-href="{{share.url}}" data-send="false" data-layout="box_count" data-width="75" data-show-faces="true" data-font="tahoma"></div>
            </li>
		</ul>
	</div>

{% endblock %}